
.center{
margin: auto;
margin-top: 15px;
min-width: 100px;
max-width: 500px;
border: 2px solid green;
padding: 10px;
font-family: 'Fira Sans', sans-serif;
}

.history{
    margin-bottom: 5px;
    font-family: 'Fira Sans', sans-serif;
}
